*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container1 {
    background-color: #f3f3f3;
    padding: 40px 30px;
    width: 50%;
    min-width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 25px 25px 30px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 50%;
}

#weight {
    width: 150%; 
    display: flex;
    align-items: center;
    justify-content: center;
}
#height {
    width: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.numberResult {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: #000000;
}
span {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.Conclusion{
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
}
h1{
    text-align: center;
}

input[type="range"] {
    width: 70%;
    height: 3.5px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #5126fb;
    border-radius: 3px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: #000000;
    border-radius: 50%;
    cursor: pointer;
}